# Case BIP

##### Objetivo: Cálculo do PIB per capita por macrorregião do Brasil (Norte, Nordeste, Sudeste, Sul e Centro-Oeste) e o total do país

###### Resultado Esperado: Tabela com 6 linhas e 2 colunas

In [1]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#importando biblioteca pandas
import pandas as pd # para ler e manipular o arquivo excel

-------------------------------------------------

# Visualização das Sheets

In [3]:
pip install openpyxl #permite manipular arquivos do Excel de forma programática.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [6]:
# visualização da sheet 'Populacao_Estado'
populacao_estado = pd.read_excel('base_de_dados_case.xlsx', sheet_name = 1)
populacao_estado = populacao_estado.loc[populacao_estado['fx_idade'] == 'Total']
populacao_estado

           Granularidade fx_idade  Populacao
0                 Brasil    Total  190755799
22              Rondonia    Total    1562409
44                  Acre    Total     733559
66              Amazonas    Total    3483985
88               Roraima    Total     450479
110                 Para    Total    7581051
132                Amapa    Total     669526
154            Tocantins    Total    1383445
176             Maranhao    Total    6574789
198                Piaui    Total    3118360
220                Ceara    Total    8452381
242  Rio Grande do Norte    Total    3168027
264              Paraiba    Total    3766528
286           Pernambuco    Total    8796448
308              Alagoas    Total    3120494
330              Sergipe    Total    2068017
352                Bahia    Total   14016906
374         Minas Gerais    Total   19597330
396       Espirito Santo    Total    3514952
418       Rio de Janeiro    Total   15989929
440            Sao Paulo    Total   41262199
462               Parana    Total   10444526
484       Santa Catarina    Total    6248436
506    Rio Grande do Sul    Total   10693929
528   Mato Grosso do Sul    Total    2449024
550          Mato Grosso    Total    3035122
572                Goias    Total    6003788
594     Distrito Federal    Total    2570160

In [7]:
# visualização da sheet 'De_para_UF'
de_para_uf = pd.read_excel('base_de_dados_case.xlsx', sheet_name = 2)
de_para_uf.head()

  Granularidade  UF  Cod_Identificacao
0          Acre  AC                 12
1       Alagoas  AL                 27
2         Amapa  AP                 16
3      Amazonas  AM                 13
4         Bahia  BA                 29

In [8]:
# visualização da sheet 'PIB_municipio'
PIB_municipio = pd.read_excel('base_de_dados_case.xlsx', sheet_name = 3)
PIB_municipio

      Cod_Identificacao                   Municipio        PIB
0               1100015  Alta Floresta D'Oeste (RO)     262077
1               1100023              Ariquemes (RO)    1364694
2               1100031                 Cabixi (RO)      69611
3               1100049                 Cacoal (RO)    1186494
4               1100056             Cerejeiras (RO)     222021
...                 ...                         ...        ...
5565            5222005             Vianópolis (GO)     178699
5566            5222054         Vicentinópolis (GO)     133899
5567            5222203               Vila Boa (GO)      71676
5568            5222302          Vila Propício (GO)      92063
5569            5300108               Brasília (DF)  144174102

[5570 rows x 3 columns]

In [9]:
# visualização da sheet 'UF_Regiao'
UF_Regiao = pd.read_excel('base_de_dados_case.xlsx', sheet_name = 4)
UF_Regiao.head()

     Estado Regiao
0  Rondonia      N
1      Acre      N
2  Amazonas      N
3   Roraima      N
4      Para      N

In [10]:
#alterar nome da coluna 'Estado' para 'Granularidade' para fazer merge 
UF_Regiao = UF_Regiao.rename(columns={'Estado': 'Granularidade'})

In [11]:
#alterar nome da coluna 'Cod_Identificacao' de  da sheet'De_para_UF' para 'Cod_Id_Estado' para fazer merge 
de_para_uf = de_para_uf.rename(columns={'Cod_Identificacao': 'Cod_Id_Estado'})

In [12]:
#alterar nome da coluna 'Cod_Identificacao' de  da sheet 'PIB_municipio' para 'Cod_Id_Municipio' para fazer merge 
PIB_municipio.rename(columns={'Cod_Identificacao': 'Cod_Id_Municipio'})

      Cod_Id_Municipio                   Municipio        PIB
0              1100015  Alta Floresta D'Oeste (RO)     262077
1              1100023              Ariquemes (RO)    1364694
2              1100031                 Cabixi (RO)      69611
3              1100049                 Cacoal (RO)    1186494
4              1100056             Cerejeiras (RO)     222021
...                ...                         ...        ...
5565           5222005             Vianópolis (GO)     178699
5566           5222054         Vicentinópolis (GO)     133899
5567           5222203               Vila Boa (GO)      71676
5568           5222302          Vila Propício (GO)      92063
5569           5300108               Brasília (DF)  144174102

[5570 rows x 3 columns]

In [13]:
PIB_municipio

      Cod_Identificacao                   Municipio        PIB
0               1100015  Alta Floresta D'Oeste (RO)     262077
1               1100023              Ariquemes (RO)    1364694
2               1100031                 Cabixi (RO)      69611
3               1100049                 Cacoal (RO)    1186494
4               1100056             Cerejeiras (RO)     222021
...                 ...                         ...        ...
5565            5222005             Vianópolis (GO)     178699
5566            5222054         Vicentinópolis (GO)     133899
5567            5222203               Vila Boa (GO)      71676
5568            5222302          Vila Propício (GO)      92063
5569            5300108               Brasília (DF)  144174102

[5570 rows x 3 columns]

In [14]:
# separar municipio da sigla do estado de 'PIB_municipio'
PIB_municipio [['Municipio', 'UF']] = PIB_municipio['Municipio'].str.replace(')', '').str.split('(', expand= True)

<ipython-input-14-ad473e6fd089>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  PIB_municipio [['Municipio', 'UF']] = PIB_municipio['Municipio'].str.replace(')', '').str.split('(', expand= True)

In [15]:
UF_Regiao

          Granularidade Regiao
0              Rondonia      N
1                  Acre      N
2              Amazonas      N
3               Roraima      N
4                  Para      N
5                 Amapa      N
6             Tocantins      N
7              Maranhao     NE
8                 Piaui     NE
9                 Ceara     NE
10  Rio Grande do Norte     NE
11              Paraiba     NE
12           Pernambuco     NE
13              Alagoas     NE
14              Sergipe     NE
15                Bahia     NE
16         Minas Gerais     SE
17       Espirito Santo     SE
18       Rio de Janeiro     SE
19            Sao Paulo     SE
20               Parana      S
21       Santa Catarina      S
22    Rio Grande do Sul      S
23   Mato Grosso do Sul     CO
24          Mato Grosso     CO
25                Goias     CO
26     Distrito Federal     CO

In [16]:
# mudança das siglas em 'Regiao' para nome completo de cada uma
UF_Regiao.Regiao = UF_Regiao.Regiao.map({'CO':'Centro-Oeste', 'SE': 'Sudeste', 'S':'Sul', 'NE': 'Nordeste', 'N': 'Norte'})
UF_Regiao

          Granularidade        Regiao
0              Rondonia         Norte
1                  Acre         Norte
2              Amazonas         Norte
3               Roraima         Norte
4                  Para         Norte
5                 Amapa         Norte
6             Tocantins         Norte
7              Maranhao      Nordeste
8                 Piaui      Nordeste
9                 Ceara      Nordeste
10  Rio Grande do Norte      Nordeste
11              Paraiba      Nordeste
12           Pernambuco      Nordeste
13              Alagoas      Nordeste
14              Sergipe      Nordeste
15                Bahia      Nordeste
16         Minas Gerais       Sudeste
17       Espirito Santo       Sudeste
18       Rio de Janeiro       Sudeste
19            Sao Paulo       Sudeste
20               Parana           Sul
21       Santa Catarina           Sul
22    Rio Grande do Sul           Sul
23   Mato Grosso do Sul  Centro-Oeste
24          Mato Grosso  Centro-Oeste
25                Goias  Centro-Oeste
26     Distrito Federal  Centro-Oeste

### Averiguação

#### Campos Nulos

In [17]:
# sheet 1
UF_Regiao.isnull().sum()

Granularidade    0
Regiao           0
dtype: int64

In [18]:
# sheet 2
PIB_municipio.isnull().sum()

Cod_Identificacao    0
Municipio            0
PIB                  0
UF                   0
dtype: int64

In [19]:
# sheet 3
de_para_uf.isnull().sum()

Granularidade    0
UF               0
Cod_Id_Estado    0
dtype: int64

In [20]:
# sheet 4
populacao_estado.isnull().sum()

Granularidade    0
fx_idade         0
Populacao        0
dtype: int64

---

### merge em sheets

In [21]:
# primeiro merge - junção de 'Populacao_Estado' e 'De_para_UF' pq elas tem "Granularidade" em comum
primeiro_merge= pd.merge (populacao_estado, de_para_uf, on= "Granularidade")
primeiro_merge

          Granularidade fx_idade  Populacao  UF  Cod_Id_Estado
0              Rondonia    Total    1562409  RO             11
1                  Acre    Total     733559  AC             12
2              Amazonas    Total    3483985  AM             13
3               Roraima    Total     450479  RR             14
4                  Para    Total    7581051  PA             15
5                 Amapa    Total     669526  AP             16
6             Tocantins    Total    1383445  TO             17
7              Maranhao    Total    6574789  MA             21
8                 Piaui    Total    3118360  PI             22
9                 Ceara    Total    8452381  CE             23
10  Rio Grande do Norte    Total    3168027  RN             24
11              Paraiba    Total    3766528  PB             25
12           Pernambuco    Total    8796448  PE             26
13              Alagoas    Total    3120494  AL             27
14              Sergipe    Total    2068017  SE             28
15                Bahia    Total   14016906  BA             29
16         Minas Gerais    Total   19597330  MG             31
17       Espirito Santo    Total    3514952  ES             32
18       Rio de Janeiro    Total   15989929  RJ             33
19            Sao Paulo    Total   41262199  SP             35
20               Parana    Total   10444526  PR             41
21       Santa Catarina    Total    6248436  SC             42
22    Rio Grande do Sul    Total   10693929  RS             43
23   Mato Grosso do Sul    Total    2449024  MS             50
24          Mato Grosso    Total    3035122  MG             51
25                Goias    Total    6003788  GO             52
26     Distrito Federal    Total    2570160  DF             53
27     Distrito Federal    Total    2570160  DF             53

In [22]:
# somar pib por estado
# teste = PIB_municipio['PIB'].groupby(PIB_municipio['PIB']).sum()

In [23]:
# segundo merge - junção do merge anterior com a sheet 'PIB_municipio' pq elas têm a 'UF' em comum
segundo_merge= pd.merge (primeiro_merge, PIB_municipio, on= "UF")
segundo_merge

,Granularidade,fx_idade,Populacao,UF,Cod_Id_Estado,Cod_Identificacao,Municipio,PIB
0,Rondonia,Total,1562409,RO,11,1100015,Alta Floresta D'Oeste,262077
1,Rondonia,Total,1562409,RO,11,1100023,Ariquemes,1364694
2,Rondonia,Total,1562409,RO,11,1100031,Cabixi,69611
3,Rondonia,Total,1562409,RO,11,1100049,Cacoal,1186494
4,Rondonia,Total,1562409,RO,11,1100056,Cerejeiras,222021
...,...,...,...,...,...,...,...,...
6278,Goias,Total,6003788,GO,52,5222054,Vicentinópolis,133899
6279,Goias,Total,6003788,GO,52,5222203,Vila Boa,71676
6280,Goias,Total,6003788,GO,52,5222302,Vila Propício,92063
6281,Distrito Federal,Total,2570160,DF,53,5300108,Brasília,144174102
6282,Distrito Federal,Total,2570160,DF,53,5300108,Brasília,144174102

In [24]:
# terceiro e último merge - junção do segundo merge com a sheet 'UF_Regiao' pq elas têm a 'Granularidade' em comum
base= pd.merge (segundo_merge, UF_Regiao, on= "Granularidade")
base

,Granularidade,fx_idade,Populacao,UF,Cod_Id_Estado,Cod_Identificacao,Municipio,PIB,Regiao
0,Rondonia,Total,1562409,RO,11,1100015,Alta Floresta D'Oeste,262077,Norte
1,Rondonia,Total,1562409,RO,11,1100023,Ariquemes,1364694,Norte
2,Rondonia,Total,1562409,RO,11,1100031,Cabixi,69611,Norte
3,Rondonia,Total,1562409,RO,11,1100049,Cacoal,1186494,Norte
4,Rondonia,Total,1562409,RO,11,1100056,Cerejeiras,222021,Norte
...,...,...,...,...,...,...,...,...,...
6278,Goias,Total,6003788,GO,52,5222054,Vicentinópolis,133899,Centro-Oeste
6279,Goias,Total,6003788,GO,52,5222203,Vila Boa,71676,Centro-Oeste
6280,Goias,Total,6003788,GO,52,5222302,Vila Propício,92063,Centro-Oeste
6281,Distrito Federal,Total,2570160,DF,53,5300108,Brasília,144174102,Centro-Oeste
6282,Distrito Federal,Total,2570160,DF,53,5300108,Brasília,144174102,Centro-Oeste

In [25]:
# localizar em 'fx_idade' o total
total_fx_idade = base.loc[base['fx_idade'] == 'Total']
total_fx_idade

,Granularidade,fx_idade,Populacao,UF,Cod_Id_Estado,Cod_Identificacao,Municipio,PIB,Regiao
0,Rondonia,Total,1562409,RO,11,1100015,Alta Floresta D'Oeste,262077,Norte
1,Rondonia,Total,1562409,RO,11,1100023,Ariquemes,1364694,Norte
2,Rondonia,Total,1562409,RO,11,1100031,Cabixi,69611,Norte
3,Rondonia,Total,1562409,RO,11,1100049,Cacoal,1186494,Norte
4,Rondonia,Total,1562409,RO,11,1100056,Cerejeiras,222021,Norte
...,...,...,...,...,...,...,...,...,...
6278,Goias,Total,6003788,GO,52,5222054,Vicentinópolis,133899,Centro-Oeste
6279,Goias,Total,6003788,GO,52,5222203,Vila Boa,71676,Centro-Oeste
6280,Goias,Total,6003788,GO,52,5222302,Vila Propício,92063,Centro-Oeste
6281,Distrito Federal,Total,2570160,DF,53,5300108,Brasília,144174102,Centro-Oeste
6282,Distrito Federal,Total,2570160,DF,53,5300108,Brasília,144174102,Centro-Oeste

regiao + PIB + populacao

Cálculo PIB per capita (é obtido quando dividimos o valor do PIB pelo número de habitantes do município, país ou estado em questão.)

In [26]:
# por não conseguir agrupar já que tinha um valor '...', lambida substitui '...' por 0
total_fx_idade['PIB'] = total_fx_idade['PIB'].apply(lambda x: 0 if x == '...' else x)

In [27]:
# astype para int
total_fx_idade['PIB'] = total_fx_idade['PIB'].astype(int)

In [28]:
#pegar a media de populacao a partir de 
media_pop = total_fx_idade.groupby(['Granularidade','fx_idade','Regiao'])['Populacao'].mean()
media_pop

Granularidade        fx_idade  Regiao
Acre                 Total     Norte             733559.0
Alagoas              Total     Nordeste         3120494.0
Amapa                Total     Norte             669526.0
Amazonas             Total     Norte            3483985.0
Bahia                Total     Nordeste        14016906.0
Ceara                Total     Nordeste         8452381.0
Distrito Federal     Total     Centro-Oeste     2570160.0
Espirito Santo       Total     Sudeste          3514952.0
Goias                Total     Centro-Oeste     6003788.0
Maranhao             Total     Nordeste         6574789.0
Mato Grosso          Total     Centro-Oeste     3035122.0
Mato Grosso do Sul   Total     Centro-Oeste     2449024.0
Minas Gerais         Total     Sudeste         19597330.0
Para                 Total     Norte            7581051.0
Paraiba              Total     Nordeste         3766528.0
Parana               Total     Sul             10444526.0
Pernambuco           Total     Nordeste         8796448.0
Piaui                Total     Nordeste         3118360.0
Rio Grande do Norte  Total     Nordeste         3168027.0
Rio Grande do Sul    Total     Sul             10693929.0
Rio de Janeiro       Total     Sudeste         15989929.0
Rondonia             Total     Norte            1562409.0
Roraima              Total     Norte             450479.0
Santa Catarina       Total     Sul              6248436.0
Sao Paulo            Total     Sudeste         41262199.0
Sergipe              Total     Nordeste         2068017.0
Tocantins            Total     Norte            1383445.0
Name: Populacao, dtype: float64

In [29]:
# dataframe
data = pd.DataFrame(media_pop)
data

                                            Populacao
Granularidade       fx_idade Regiao
Acre                Total    Norte           733559.0
Alagoas             Total    Nordeste       3120494.0
Amapa               Total    Norte           669526.0
Amazonas            Total    Norte          3483985.0
Bahia               Total    Nordeste      14016906.0
Ceara               Total    Nordeste       8452381.0
Distrito Federal    Total    Centro-Oeste   2570160.0
Espirito Santo      Total    Sudeste        3514952.0
Goias               Total    Centro-Oeste   6003788.0
Maranhao            Total    Nordeste       6574789.0
Mato Grosso         Total    Centro-Oeste   3035122.0
Mato Grosso do Sul  Total    Centro-Oeste   2449024.0
Minas Gerais        Total    Sudeste       19597330.0
Para                Total    Norte          7581051.0
Paraiba             Total    Nordeste       3766528.0
Parana              Total    Sul           10444526.0
Pernambuco          Total    Nordeste       8796448.0
Piaui               Total    Nordeste       3118360.0
Rio Grande do Norte Total    Nordeste       3168027.0
Rio Grande do Sul   Total    Sul           10693929.0
Rio de Janeiro      Total    Sudeste       15989929.0
Rondonia            Total    Norte          1562409.0
Roraima             Total    Norte           450479.0
Santa Catarina      Total    Sul            6248436.0
Sao Paulo           Total    Sudeste       41262199.0
Sergipe             Total    Nordeste       2068017.0
Tocantins           Total    Norte          1383445.0

In [30]:
#agrupamento
dados = data.groupby(['Regiao'])['Populacao'].sum()
dados

Regiao
Centro-Oeste    14058094.0
Nordeste        53081950.0
Norte           15864454.0
Sudeste         80364410.0
Sul             27386891.0
Name: Populacao, dtype: float64

In [31]:
#dataframe
df = pd.DataFrame(data)
df

                                            Populacao
Granularidade       fx_idade Regiao
Acre                Total    Norte           733559.0
Alagoas             Total    Nordeste       3120494.0
Amapa               Total    Norte           669526.0
Amazonas            Total    Norte          3483985.0
Bahia               Total    Nordeste      14016906.0
Ceara               Total    Nordeste       8452381.0
Distrito Federal    Total    Centro-Oeste   2570160.0
Espirito Santo      Total    Sudeste        3514952.0
Goias               Total    Centro-Oeste   6003788.0
Maranhao            Total    Nordeste       6574789.0
Mato Grosso         Total    Centro-Oeste   3035122.0
Mato Grosso do Sul  Total    Centro-Oeste   2449024.0
Minas Gerais        Total    Sudeste       19597330.0
Para                Total    Norte          7581051.0
Paraiba             Total    Nordeste       3766528.0
Parana              Total    Sul           10444526.0
Pernambuco          Total    Nordeste       8796448.0
Piaui               Total    Nordeste       3118360.0
Rio Grande do Norte Total    Nordeste       3168027.0
Rio Grande do Sul   Total    Sul           10693929.0
Rio de Janeiro      Total    Sudeste       15989929.0
Rondonia            Total    Norte          1562409.0
Roraima             Total    Norte           450479.0
Santa Catarina      Total    Sul            6248436.0
Sao Paulo           Total    Sudeste       41262199.0
Sergipe             Total    Nordeste       2068017.0
Tocantins           Total    Norte          1383445.0

In [32]:
#agrupamento
df_1 = total_fx_idade.groupby(['Regiao'])['PIB'].sum()
df_1

Regiao
Centro-Oeste     793512383
Nordeste         522769299
Norte            207093641
Sudeste         2180987793
Sul              620180421
Name: PIB, dtype: int64

In [71]:
#merge dos df
pibregiao = pd.merge (dados, df_1, on='Regiao')
pibregiao

               Populacao         PIB
Regiao
Centro-Oeste  14058094.0   793512383
Nordeste      53081950.0   522769299
Norte         15864454.0   207093641
Sudeste       80364410.0  2180987793
Sul           27386891.0   620180421

In [72]:
#divisao para resultado per capita
pibregiao['Pib_per_capta'] = pibregiao['PIB']/pibregiao['Populacao']
pibregiao

               Populacao         PIB  Pib_per_capta
Regiao
Centro-Oeste  14058094.0   793512383      56.445232
Nordeste      53081950.0   522769299       9.848344
Norte         15864454.0   207093641      13.053941
Sudeste       80364410.0  2180987793      27.138727
Sul           27386891.0   620180421      22.645156

In [91]:
# soma dos dados para ter o total e criar uma linha para isso
total_pop = pibregiao['Populacao'].sum()
total_pib = pibregiao['PIB'].sum()
total_pib_per_capta = total_pib / total_pop  
df_total = pd.DataFrame([[total_pop,total_pib,total_pib_per_capta]] , columns = ['Populacao','PIB','Pib_per_capta'])
df = pd.concat([pibregiao,df_total], ignore_index = False)
df

                Populacao         PIB  Pib_per_capta
Centro-Oeste   14058094.0   793512383      56.445232
Nordeste       53081950.0   522769299       9.848344
Norte          15864454.0   207093641      13.053941
Sudeste        80364410.0  2180987793      27.138727
Sul            27386891.0   620180421      22.645156
0             190755799.0  4324543537      22.670574

In [92]:
# nomear a coluna 'Regiao' para 'Total'
df.index = ['Centro-Oeste','Nordeste','Norte','Sudeste','Sul','Total']
df

                Populacao         PIB  Pib_per_capta
Centro-Oeste   14058094.0   793512383      56.445232
Nordeste       53081950.0   522769299       9.848344
Norte          15864454.0   207093641      13.053941
Sudeste        80364410.0  2180987793      27.138727
Sul            27386891.0   620180421      22.645156
Total         190755799.0  4324543537      22.670574

In [93]:
#nomear a primeira coluna como 'Regiao'
df.index.name = "Regiao"
df

                Populacao         PIB  Pib_per_capta
Regiao
Centro-Oeste   14058094.0   793512383      56.445232
Nordeste       53081950.0   522769299       9.848344
Norte          15864454.0   207093641      13.053941
Sudeste        80364410.0  2180987793      27.138727
Sul            27386891.0   620180421      22.645156
Total         190755799.0  4324543537      22.670574

In [94]:
#tirar as 'POPULACAO', 'PIB'
df = df.drop(['Populacao','PIB'], axis = 1)

In [95]:
# arrumar multiindex
df = df.set_index('Pib_per_capta', append = True)
df

Empty DataFrame
Columns: []
Index: [(Centro-Oeste, 56.445232404904964), (Nordeste, 9.848343909747099), (Norte, 13.053940652480067), (Sudeste, 27.138727118136), (Sul, 22.645156071202095), (Total, 22.6705744185528)]